@font-face {
  font-family: "Rance Display";
  src: url("/fonts/Rance-Display.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rancer Body";
  src: url("/fonts/Rancer-Body.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: calc(100vw / 1920 * 10);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  min-height: 100vh;
  background-color: #000000;
}

svg,
img,
canvas {
  width: 100%;
  height: 100%;
}

.hero-text-left {
  color: #fff;
  text-align: center;
  font-family: "Rance Display";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.2rem;
  position: absolute;
  top: 30rem;
  left: 15.3rem;
  width: 23.3rem;
}

.hero-text-right {
  color: #fff;
  font-family: "Rance Display";
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.48rem;
  position: absolute;
  right: 31.1rem;
  bottom: 16.1rem;
  width: 25.6rem;
}
@keyframes wave {
  0% {
    transform: translatex(-50%) scale(0);
    /*opacity: 0;*/
  }
  54% {
    transform: translatex(-50%) scale(0);
    /*opacity: 0;*/
  }
  55% {
    transform: translatex(-50%) scale(0);
    opacity: 1;
  }
  85% {
    transform: translatex(-50%) scale(3.6194225722);
    opacity: 0;
  }
  100% {
    transform: translatex(-50%) scale(3.6194225722);
    opacity: 0;
  }
}
.hero-waves span {
  width: 76.2rem;
  height: 76.2rem;
  position: absolute;
  left: 50.75%;
  transform: translateX(-50%) scale(0);
  top: -16rem;
  animation: wave 2s linear infinite;
  border: 5.3rem solid rgba(162, 233, 233, 0.39);
  border-radius: 50%;
  filter: blur(4.0900001525878906rem);
  z-index: 1;
}

.hero-someone {
  width: 100vw;
  height: 56.25vw;
  left: 0;
  top: 0%;
  /*transform: translateY(-50%);*/
}

.hero-audio-card {
  position: absolute;
  top: 48rem;
  left: 3.9rem;
  width: 46rem;
  height: auto;
  border: 0.1rem solid #212121;
  padding: 3rem 14.1rem 3.4rem 14.3rem;
}

.hero-details {
  position: absolute;
  bottom: 14.2rem;
  left: 6rem;
  width: 45.9rem;
  height: auto;

  h2 {
    color: #fff;
    font-family: "Rance Display";
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.48rem;
  }

  p {
    align-self: stretch;
    color: #fff;
    font-family: "Rancer Body";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.1rem;
    margin-top: 8rem;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  height: 12.2rem;
  border-top: 0.1rem solid #e6e6e6;
  left: 0;
  right: 0;
}

.footer-station {
  width: 4rem;
  color: #fff;
  z-index: 10;
  text-align: center;
  font-family: "Rance Display";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.08rem;
  position: absolute;
  left: 65%;
  transform: translateX(-50%);
  top: 5rem;
  pointer-events: none;
  font-variant-numeric: tabular-nums;
}

.footer-wave {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.6rem 6rem 6rem;
  span {
    width: 0.07rem;
    height: 1rem;
    background-color: #e6e6e6;
    opacity: 0.6;
  }
  span:nth-of-type(5n) {
    height: 2rem;
    opacity: 0.75;
    margin: 0 0.6rem;
  }
}

.footer-wave-left {
  background: linear-gradient(
    to right,
    hsl(0, 0%, 0%) 0%,
    hsla(0, 0%, 0%, 0.987) 6.1%,
    hsla(0, 0%, 0%, 0.951) 12.8%,
    hsla(0, 0%, 0%, 0.896) 20%,
    hsla(0, 0%, 0%, 0.825) 27.5%,
    hsla(0, 0%, 0%, 0.741) 35.3%,
    hsla(0, 0%, 0%, 0.648) 43.1%,
    hsla(0, 0%, 0%, 0.55) 51%,
    hsla(0, 0%, 0%, 0.45) 58.7%,
    hsla(0, 0%, 0%, 0.352) 66.2%,
    hsla(0, 0%, 0%, 0.259) 73.4%,
    hsla(0, 0%, 0%, 0.175) 80.1%,
    hsla(0, 0%, 0%, 0.104) 86.2%,
    hsla(0, 0%, 0%, 0.049) 91.7%,
    hsla(0, 0%, 0%, 0.013) 96.3%,
    hsla(0, 0%, 0%, 0) 100%
  );
  position: absolute;
  height: 100%;
  width: 55%;
  transform: scaleX(2);
  transform-origin: left;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 1000000;
}

.footer-wave-right {
  background: linear-gradient(
    to left,
    hsl(0, 0%, 0%) 0%,
    hsla(0, 0%, 0%, 0.987) 6.1%,
    hsla(0, 0%, 0%, 0.951) 12.8%,
    hsla(0, 0%, 0%, 0.896) 20%,
    hsla(0, 0%, 0%, 0.825) 27.5%,
    hsla(0, 0%, 0%, 0.741) 35.3%,
    hsla(0, 0%, 0%, 0.648) 43.1%,
    hsla(0, 0%, 0%, 0.55) 51%,
    hsla(0, 0%, 0%, 0.45) 58.7%,
    hsla(0, 0%, 0%, 0.352) 66.2%,
    hsla(0, 0%, 0%, 0.259) 73.4%,
    hsla(0, 0%, 0%, 0.175) 80.1%,
    hsla(0, 0%, 0%, 0.104) 86.2%,
    hsla(0, 0%, 0%, 0.049) 91.7%,
    hsla(0, 0%, 0%, 0.013) 96.3%,
    hsla(0, 0%, 0%, 0) 100%
  );
  position: absolute;
  height: 100%;
  width: 25%;
  right: 0;
  top: 0;
  pointer-events: none;
  z-index: 1000000;
}
