@font-face {
  font-family: "Rance Display";
  src: url("/fonts/Rance-Display.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rancer Body";
  src: url("/fonts/Rancer-Body.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: calc(100vw / 1920 * 10);
  overflow: hidden;
}

@media (max-width: 600px) {
  html {
    font-size: calc(100vw / 404 * 10);
    overflow: hidden;
  }
  body {
    overflow: hidden;
    width: 100vw;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  min-height: 100vh;
  background-color: #000000;
}

svg,
img,
canvas {
  width: 100%;
  height: 100%;
}

.hero-text-left {
  color: #fff;
  font-family: "Rance Display";
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.23rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 6rem;
  right: 6rem;
  display: flex;
  justify-content: space-between;

  div {
    width: 55.2rem;
  }

  div:nth-of-type(2) {
    text-align: right;
  }

  span {
    display: block;
    color: #ff0b0b;
  }
}

@media (max-width: 600px) {
  .hero-text-left {
    top: max(20.6rem, 20vh);
    left: 50%;
    right: unset;
    transform: translateX(-50%);
    width: 29rem;
    font-size: 2.4rem;
    line-height: 120%;
    letter-spacing: -0.24rem;
    text-align: center;
    flex-direction: column;

    div {
      width: fit-content;
      text-align: center !important;
      margin: 0 auto;
    }

    span {
      display: block;
    }
  }
}

.hero-text-right {
  color: #fff;
  font-family: "Rance Display";
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.32rem;
  position: absolute;
  right: 6rem;
  bottom: 17rem;
  width: 35.6rem;
  text-align: right;
}
@media (max-width: 600px) {
  .hero-text-right {
    font-size: 1.6rem;
    letter-spacing: -0.096rem;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 2.4rem;
    width: 100%;
    text-align: center;
  }
}
@keyframes wave {
  0% {
    transform: translatex(-50%) scale(0);
    /*opacity: 0;*/
  }
  54% {
    transform: translatex(-50%) scale(0);
    /*opacity: 0;*/
  }
  55% {
    transform: translatex(-50%) scale(0);
    opacity: 1;
  }
  85% {
    transform: translatex(-50%) scale(3.6194225722);
    opacity: 0;
  }
  100% {
    transform: translatex(-50%) scale(3.6194225722);
    opacity: 0;
  }
}
.hero-waves span {
  width: 76.2rem;
  height: 76.2rem;
  position: absolute;
  left: 50.75%;
  transform: translateX(-50%) scale(0);
  top: calc(-12rem + 20rem);
  animation: wave 2s linear infinite;
  border: 5.3rem solid rgba(162, 233, 233, 0.39);
  border-radius: 50%;
  filter: blur(4.0900001525878906rem);
  z-index: 1;
}
@media (max-width: 600px) {
  .hero-waves span {
    width: 16.01rem;
    height: 16.01rem;
    top: 30rem;
    border: 3.2rem solid rgba(162, 233, 233, 0.39);
    filter: blur(1.6rem);
  }
}

.hero-someone {
  width: 100vw;
  height: 56.25vw;
  left: 0;
  top: calc(50% + 20rem);
  transform: translateY(-50%);
  position: absolute;
}

@media (max-width: 600px) {
  .hero-someone {
    top: 48.1rem;
    transform: translateY(-50%) scale(1.3);
  }
}

.hero-audio-card {
  position: absolute;
  top: 48.8rem;
  left: 3.9rem;
  width: 46rem;
  height: auto;
  border: 0.1rem solid #212121;
  padding: 3rem 14.1rem 3.4rem 14.3rem;
}

@media (max-width: 600px) {
  .hero-audio-card {
    width: 4.5rem;
    height: auto;
    top: 32.2rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.4rem;
  }
}

.hero-details {
  position: absolute;
  bottom: 14.2rem;
  left: 6rem;
  width: 41.9rem;
  height: auto;

  h2 {
    color: #fff;
    font-family: "Rance Display";
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.48rem;
  }

  p {
    align-self: stretch;
    color: #fff;
    font-family: "Rancer Body";
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: -0.064rem;
    margin-top: 8rem;
  }
}

@media (max-width: 600px) {
  .hero-details {
    bottom: 8.4rem;
    left: 0;
    width: 89%;
    left: 5.5%;
    justify-content: center;

    h2 {
      font-size: 1.4rem;
      line-height: 100%;
      letter-spacing: -0.1rem;
      width: fit-content;
      margin: 0 auto;
    }

    [data-desktop] {
      display: none;
    }

    p {
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 200%;
      letter-spacing: -0.056rem;
      margin: 1.2rem auto 0;
      width: 100%;
      text-align: center;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  height: 12.2rem;
  /*border-top: 0.1rem solid #e6e6e6;*/
  left: 0;
  right: 0;
  overflow: hidden;
}

@media (max-width: 600px) {
  .footer {
    bottom: 22rem;
    height: 8.2rem;
  }
}

.footer-station {
  width: 4rem;
  color: #fff;
  z-index: 10;
  text-align: center;
  font-family: "Rance Display";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: -0.08rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5rem;
  pointer-events: none;
  font-variant-numeric: tabular-nums;
}

@media (max-width: 600px) {
  .footer-station {
    font-size: 2.4rem;
  }

  .footer-wave {
    gap: 0.4rem !important;
  }

  span:nth-of-type(5n) {
    margin: 0 0.3rem !important;
  }

  .footer-wave-left,
  .footer-wave-right {
    width: 50% !important;
  }
}

.footer-wave {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.6rem 6rem 6rem;
  span {
    width: 0.07rem;
    height: 1rem;
    background-color: #e6e6e6;
    opacity: 0.6;
  }
  span:nth-of-type(5n) {
    height: 2rem;
    opacity: 0.75;
    margin: 0 0.6rem;
  }
}

.footer-wave-left {
  background: linear-gradient(
    to right,
    hsl(0, 0%, 0%) 0%,
    hsla(0, 0%, 0%, 0.987) 6.1%,
    hsla(0, 0%, 0%, 0.951) 12.8%,
    hsla(0, 0%, 0%, 0.896) 20%,
    hsla(0, 0%, 0%, 0.825) 27.5%,
    hsla(0, 0%, 0%, 0.741) 35.3%,
    hsla(0, 0%, 0%, 0.648) 43.1%,
    hsla(0, 0%, 0%, 0.55) 51%,
    hsla(0, 0%, 0%, 0.45) 58.7%,
    hsla(0, 0%, 0%, 0.352) 66.2%,
    hsla(0, 0%, 0%, 0.259) 73.4%,
    hsla(0, 0%, 0%, 0.175) 80.1%,
    hsla(0, 0%, 0%, 0.104) 86.2%,
    hsla(0, 0%, 0%, 0.049) 91.7%,
    hsla(0, 0%, 0%, 0.013) 96.3%,
    hsla(0, 0%, 0%, 0) 100%
  );
  position: absolute;
  height: 100%;
  width: 65%;
  transform-origin: left;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 1000000;
}

.footer-wave-right {
  background: linear-gradient(
    to left,
    hsl(0, 0%, 0%) 0%,
    hsla(0, 0%, 0%, 0.987) 6.1%,
    hsla(0, 0%, 0%, 0.951) 12.8%,
    hsla(0, 0%, 0%, 0.896) 20%,
    hsla(0, 0%, 0%, 0.825) 27.5%,
    hsla(0, 0%, 0%, 0.741) 35.3%,
    hsla(0, 0%, 0%, 0.648) 43.1%,
    hsla(0, 0%, 0%, 0.55) 51%,
    hsla(0, 0%, 0%, 0.45) 58.7%,
    hsla(0, 0%, 0%, 0.352) 66.2%,
    hsla(0, 0%, 0%, 0.259) 73.4%,
    hsla(0, 0%, 0%, 0.175) 80.1%,
    hsla(0, 0%, 0%, 0.104) 86.2%,
    hsla(0, 0%, 0%, 0.049) 91.7%,
    hsla(0, 0%, 0%, 0.013) 96.3%,
    hsla(0, 0%, 0%, 0) 100%
  );
  position: absolute;
  height: 100%;
  width: 65%;
  right: 0;
  top: 0;
  pointer-events: none;
  z-index: 1000000;
}
